/-Wall.exe
/.vscode
/abc.c
/calendar.c
/calendar.exe
/calendar2.c
/direction.c
/direction.exe
/hello.c
/hello.exe
/lg.exe
/roman.c
/roman.exe
/strong2.c
/strong2.exe
/strongNum.c
/strongNum.exe
/test.c
/test.exe